{% extends "base.html" %}

{% block content %}
    {% for page in pages %}
    <span class="nbk_comment">{{ page.date }} - <a href='{{ url_for("page", path=page.path) }}'>{{ page.title }}</a></span>
    {% else %}
        No pages so far
    {% endfor %}
<body>
    <span class="_doc_sep">---</span>
    <span class="nbk_grey">email: saeranv @ gmail dot com</span>
    <span class="nbk_grey">git: <a href="https://github.com/saeranv/" style="color:grey;">github.com/saeranv</a></span>
    <span class="nbk_grey">linkedin: <a href="https://www.linkedin.com/in/saeranvasanthakumar/" style="color:grey;">linkedin.com/in/saeranvasanthakumar/</a></span>
</body>
{% endblock content %}
