/*
Notes:
- ref is yaml.org
- ctrl F5 to refresh css
*/

.content {

    max-width:750px;
    overflow-wrap: normal;
    /* # Margin/Padding */
    margin: left;
    padding-top: 10px;
    padding-left: 5px;
    /* # For visual debuggin */
    /* border: 3px solid #73AD21; */

    /* from hackernews */
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #000;
}


/*Title*/
.nbk_directive {
    color: black;
}

.nbk_doc_sep {
    color: turquoise;
}

.nbk_key {
    color: green;
}

.nbk_comment {
    color: blue;
}

.nbk_grey {
    color: grey;
}

.nbk_key_sep {
    color: brown;
}

a:link, a:visited, a:active {
    color: black;
    text-decoration: underline;
}


