/*
Notes:
- ref is yaml.org
- ctrl F5 to refresh css
*/

.content {

    /* This duplicates the 'pre' html tag.
    'pre' disables mathjax so we'll define
    style here. */
    display: block;
    unicode-bidi: embed;
    white-space: pre;
    display: block;

    /* Non 'pre' stuff*/
    max-width:500px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space : pre-wrap !important;

    /* # Margin/Padding */
    margin: left;
    margin-left: 20px;
    padding-top: 10px;
    /* # For visual debuggin */
    /* border: 3px solid #73AD21; */

    /* from aaron swarz */
    font-family: "Georgia";
    font-size: 12pt;
    color: #000;

}

/*Title*/
.nbk_title {
    color: black;
    font-size: 15pt;
}

/*Title*/
.nbk_directive {
    color: black;
}

.nbk_doc_sep {
    color: turquoise;
}

.nbk_key {
    color: green;
}

.nbk_comment {
    color: black;
}

.nbk_grey {
    color: grey;
}

.nbk_key_sep {
    color: brown;
}

a:link, a:active { color: #68693F; text-decoration: none; border-bottom: 1px dotted #ccc;}
a:visited { color: #68693F; text-decoration: none; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}