/*
Notes:
- ref is yaml.org
- ctrl F5 to refresh css
*/

.content {

    /* This duplicates the 'pre' html tag.
    'pre' disables mathjax so we'll define
    style here. */
    display: block;
    unicode-bidi: embed;
    white-space: pre;
    display: block;

    /* Non 'pre' stuff*/
    max-width:750px;
    overflow-wrap: normal;
    /* # Margin/Padding */
    margin: left;
    padding-top: 10px;
    padding-left: 5px;
    /* # For visual debuggin */
    /* border: 3px solid #73AD21; */

    /* from aaron swarz */
    font-family: "Georgia";
    font-size: 10pt;
    color: #000;
}

/*Title*/
.nbk_title {
    color: black;
    font-size: 15pt;
}

/*Title*/
.nbk_directive {
    color: black;
}

.nbk_doc_sep {
    color: turquoise;
}

.nbk_key {
    color: green;
}

.nbk_comment {
    color: black;
}

.nbk_grey {
    color: grey;
}

.nbk_key_sep {
    color: brown;
}

a:link, a:visited, a:active {
    color: black;
    text-decoration-color: grey;
}


